<h1>CHILD COMPONENT</h1>

<foxit-webpdf #foxitWebPDF
              style="position: absolute;width:1200px;height:1000px;"
              licenseSN="{{licenseSN}}"
              licenseKey="{{licenseKey}}">
</foxit-webpdf>

<p>routing here causes the following errors:</p>
<pre>
GET http://localhost:4200/<b>url-to-child/node_modules/ngx-foxitpdfsdkforweb/lib</b>/uix-addons/file-property/addon.info.json 404 (Not Found)
GET http://localhost:4200/url-to-child/node_modules/ngx-foxitpdfsdkforweb/lib/uix-addons/file-property/addon.info.json 404 (Not Found)
GET http://localhost:4200/url-to-child/node_modules/ngx-foxitpdfsdkforweb/lib/uix-addons/file-property/addon.info.json 404 (Not Found)
GET http://localhost:4200/url-to-child/node_modules/ngx-foxitpdfsdkforweb/lib/uix-addons/file-property/addon.info.json 404 (Not Found)
GET http://localhost:4200/url-to-child/node_modules/ngx-foxitpdfsdkforweb/lib/uix-addons/file-property/addon.info.json 404 (Not Found)
GET http://localhost:4200/url-to-child/node_modules/ngx-foxitpdfsdkforweb/lib/uix-addons/file-property/addon.info.json 404 (Not Found)
GET http://localhost:4200/url-to-child/node_modules/ngx-foxitpdfsdkforweb/lib/uix-addons/file-property/addon.info.json 404 (Not Found)
GET http://localhost:4200/url-to-child/node_modules/ngx-foxitpdfsdkforweb/lib/uix-addons/file-property/addon.info.json 404 (Not Found)
GET http://localhost:4200/url-to-child/node_modules/ngx-foxitpdfsdkforweb/lib/uix-addons/file-property/addon.info.json 404 (Not Found)
GET http://localhost:4200/url-to-child/node_modules/ngx-foxitpdfsdkforweb/lib/uix-addons/file-property/addon.info.json 404 (Not Found)
</pre>
